#contact{
    text-align: center;
    color:#fff;
    background-color: #242B2E;
}
.container.contact__container {
    width: 60%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
    margin: 100px;
    background-color: #242B2E;
   
    
  }
  
  .contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  
  .contact__option {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
  }
  
  .contact__option:hover {
    background: #758283;
    border-color: var(--color-primary-variant);
  }
  
  .contact__option-icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color:#fff;

  }
.contact__option-icon h4{
    color:#fff;

  }
  
  .contact__option h5 {
    color: #fff;;
  }
  
  .contact__option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
    color: #fff;
  }
  
  /* ================= FORM ================== */
  form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    text-decoration-color: aliceblue;
    
    
  }
  
 input,
 
  textarea {
    
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color:  #242B2E;;
   
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: #fff;;
  }
  
  
  
.btn{
    background-color: #242B2E;
    border-radius: 0.5rem;
    border-color: 2px solid var(--color-primary-variant);
    
    padding: 1.5rem;
    color:#fff;
    width: 50%;
    justify-content: center;
    text-align: center;
   
}
  
  /* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
  @media screen and (max-width: 1024px) {
    .container.contact__container {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }
  
  /* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
  @media screen and (max-width: 600px) {
    .container.contact__container {
      width: var(--container-width-sm);
    }
  }
  